## Assignment 1: Recommending Similar Movies (5 points)

- In this assignment, you will quantify the similarities between movies using plot summaries from Wikipedia and IMDb. For this, we will calculate Cosine similarity for all pairs of movies using movies data set. The data set includes 100 movies with their titles, genre, plot summaries from Wikipedia and IMDb.

- Instructions on what to do are provided in every code block with numbers.

- Do not clear the outputs, you must print out your outputs.

- Write your (legal) full name here: Taohid Shadat

## 1. Import Data Set

In [1]:
import numpy as np
import pandas as pd
import nltk

#(0.5 points)

# (1) The data set comes in as a csv file. Import the data file (it is uploaded on Black Board folder).
df = pd.read_csv('movies.csv')
# (2) check the number of rows and columns, column names, and print out a few rows to see how the data looks like. 
print(df.shape)
print(df.columns)
df.head()

(100, 5)
Index(['rank', 'title', 'genre', 'wiki_plot', 'imdb_plot'], dtype='object')

,rank,title,genre,wiki_plot,imdb_plot
0,0,The Godfather,"[u' Crime', u' Drama']","On the day of his only daughter's wedding, Vit...","In late summer 1945, guests are gathered for t..."
1,1,The Shawshank Redemption,"[u' Crime', u' Drama']","In 1947, banker Andy Dufresne is convicted of ...","In 1947, Andy Dufresne (Tim Robbins), a banker..."
2,2,Schindler's List,"[u' Biography', u' Drama', u' History']","In 1939, the Germans move Polish Jews into the...",The relocation of Polish Jews from surrounding...
3,3,Raging Bull,"[u' Biography', u' Drama', u' Sport']","In a brief scene in 1964, an aging, overweight...","The film opens in 1964, where an older and fat..."
4,4,Casablanca,"[u' Drama', u' Romance', u' War']",It is early December 1941. American expatriate...,"In the early years of World War II, December 1..."

## 2. Combine (concatenate) Wikipedia and IMDb plot summaries

In [2]:
# (3) Combine wiki_plot and imdb_plot into a single column. (0.5 points)
df['comb_plot'] = df['wiki_plot']  + df['imdb_plot']
# (4) make sure concatenation worked properly. Among many ways to check this, one thing you can do simply is to
# check the length of wiki_plot, imdb_plot and compare the length of the combined plot.
# The length of the combined plot should be sum of the length of wiki_plot and imdb_plot.
# (0.5 points)

In [3]:
len(df.iloc[0]['comb_plot']) == (len(df.iloc[0]['wiki_plot']) + len(df.iloc[0]['imdb_plot']))

True

In [4]:
df.head()

,rank,title,genre,wiki_plot,imdb_plot,comb_plot
0,0,The Godfather,"[u' Crime', u' Drama']","On the day of his only daughter's wedding, Vit...","In late summer 1945, guests are gathered for t...","On the day of his only daughter's wedding, Vit..."
1,1,The Shawshank Redemption,"[u' Crime', u' Drama']","In 1947, banker Andy Dufresne is convicted of ...","In 1947, Andy Dufresne (Tim Robbins), a banker...","In 1947, banker Andy Dufresne is convicted of ..."
2,2,Schindler's List,"[u' Biography', u' Drama', u' History']","In 1939, the Germans move Polish Jews into the...",The relocation of Polish Jews from surrounding...,"In 1939, the Germans move Polish Jews into the..."
3,3,Raging Bull,"[u' Biography', u' Drama', u' Sport']","In a brief scene in 1964, an aging, overweight...","The film opens in 1964, where an older and fat...","In a brief scene in 1964, an aging, overweight..."
4,4,Casablanca,"[u' Drama', u' Romance', u' War']",It is early December 1941. American expatriate...,"In the early years of World War II, December 1...",It is early December 1941. American expatriate...

## 3. Tokenization

In [12]:
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords

In [13]:
df.isnull().sum()

rank           0
title          0
genre          0
wiki_plot      0
imdb_plot     10
comb_plot     10
tokens       100
dtype: int64

In [14]:
df['comb_plot'].fillna('', inplace = True)

In [24]:
# (5) Tokenize the summed plot column. During or before/after the tokenization step, remove punctuations, non-words, stop-words.
# You can also work on a few pre-processing steps during the vectorization process.
# keep the elements which contain letters only. (0.5 points)
stop_words = stopwords.words('english')
# print(df.dtypes)

df['tokens'] = df['comb_plot'].apply(word_tokenize)
df['tokens'] = df['tokens'].apply(lambda x: [word.lower() for word in x if word.isalpha() and word not in stop_words])

In [25]:
df.head()

,rank,title,genre,wiki_plot,imdb_plot,comb_plot,tokens
0,0,The Godfather,"[u' Crime', u' Drama']","On the day of his only daughter's wedding, Vit...","In late summer 1945, guests are gathered for t...","On the day of his only daughter's wedding, Vit...","[on, day, daughter, wedding, vito, corleone, h..."
1,1,The Shawshank Redemption,"[u' Crime', u' Drama']","In 1947, banker Andy Dufresne is convicted of ...","In 1947, Andy Dufresne (Tim Robbins), a banker...","In 1947, banker Andy Dufresne is convicted of ...","[in, banker, andy, dufresne, convicted, murder..."
2,2,Schindler's List,"[u' Biography', u' Drama', u' History']","In 1939, the Germans move Polish Jews into the...",The relocation of Polish Jews from surrounding...,"In 1939, the Germans move Polish Jews into the...","[in, germans, move, polish, jews, kraków, ghet..."
3,3,Raging Bull,"[u' Biography', u' Drama', u' Sport']","In a brief scene in 1964, an aging, overweight...","The film opens in 1964, where an older and fat...","In a brief scene in 1964, an aging, overweight...","[in, brief, scene, aging, overweight, italian,..."
4,4,Casablanca,"[u' Drama', u' Romance', u' War']",It is early December 1941. American expatriate...,"In the early years of World War II, December 1...",It is early December 1941. American expatriate...,"[it, early, december, american, expatriate, ri..."

## 4. Stemming

In [27]:
#(6) stem the tokenized summed plot column using a Snowball Stemmer.
# It is totally up to you whether you use a simple lemmatization or stemmer at this step. (0.5 points)

# Import the SnowballStemmer.
from nltk.stem.snowball import SnowballStemmer

# Create an English language SnowballStemmer object
stemmer = SnowballStemmer("english")

df['tokens'] = df['tokens'].apply(lambda x: [stemmer.stem(word) for word in x])

In [28]:
df.head()

,rank,title,genre,wiki_plot,imdb_plot,comb_plot,tokens
0,0,The Godfather,"[u' Crime', u' Drama']","On the day of his only daughter's wedding, Vit...","In late summer 1945, guests are gathered for t...","On the day of his only daughter's wedding, Vit...","[on, day, daughter, wed, vito, corleon, hear, ..."
1,1,The Shawshank Redemption,"[u' Crime', u' Drama']","In 1947, banker Andy Dufresne is convicted of ...","In 1947, Andy Dufresne (Tim Robbins), a banker...","In 1947, banker Andy Dufresne is convicted of ...","[in, banker, andi, dufresn, convict, murder, w..."
2,2,Schindler's List,"[u' Biography', u' Drama', u' History']","In 1939, the Germans move Polish Jews into the...",The relocation of Polish Jews from surrounding...,"In 1939, the Germans move Polish Jews into the...","[in, german, move, polish, jew, kraków, ghetto..."
3,3,Raging Bull,"[u' Biography', u' Drama', u' Sport']","In a brief scene in 1964, an aging, overweight...","The film opens in 1964, where an older and fat...","In a brief scene in 1964, an aging, overweight...","[in, brief, scene, age, overweight, italian, a..."
4,4,Casablanca,"[u' Drama', u' Romance', u' War']",It is early December 1941. American expatriate...,"In the early years of World War II, December 1...",It is early December 1941. American expatriate...,"[it, earli, decemb, american, expatri, rick, b..."

## 5. Generate TF-IDF Vectorizer

In [37]:
# 1 point

#(7)-1 use a tf-idf vectorizer to create TF-IDF vectors. 
#(7)-2 You can adjust a few parameters within tf-idf Vectorizer object such as removing stopwords, including bigrams 
# for efficient processing of text.
#(7)-3 To filter out some terms that are too frequent and infrequent, you may add parameters such as max_df & min_df 
# and set the values as 0.8 & 0.2 respectively.
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(stop_words='english', ngram_range=(1,2), max_df=0.8, min_df=0.2)

## 6. Fit_transform TF-IDF Vectorizer

In [39]:
# (8) Fit and transform the tfidf_vectorizer with the summed plot column for each movie
# to create a vector representation of the plot summaries (0.5 points)
df['tokens'] = df['tokens'].apply(lambda x: " ".join(x))
matrix = tfidf.fit_transform(df['tokens'])
matrix

<100x513 sparse matrix of type '<class 'numpy.float64'>'
	with 17860 stored elements in Compressed Sparse Row format>

## 7. Calculate Similarity Index

In [43]:
# 1 point

# (9)-1
# Import cosine_similarity to calculate similarity of movie plots.
from sklearn.metrics.pairwise import cosine_similarity

# (9)-2 show 2D array matrix.
print("2D Array Matrix:", matrix.toarray(), sep='\n')

# (9)-3 calculate cos similarity scores for all the combinations.
#You should come up with a 100 by 100 array matrix.
cosine_sim=cosine_similarity(matrix)
print("\nShape of array matrix:", cosine_sim.shape, sep='\n')
print("\nCosine Similarity Scores Matrix:", cosine_sim, sep='\n')

2D Array Matrix:
[[0.         0.         0.08734528 ... 0.0577582  0.04096193 0.        ]
 [0.         0.02501073 0.         ... 0.         0.01012462 0.        ]
 [0.         0.01942657 0.         ... 0.         0.         0.        ]
 ...
 [0.         0.         0.02209502 ... 0.         0.01813315 0.        ]
 [0.03003858 0.03626656 0.         ... 0.02760136 0.01957479 0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]]

Shape of array matrix:
(100, 100)

Cosine Similarity Scores Matrix:
[[1.         0.20669533 0.24387713 ... 0.35908863 0.33308302 0.        ]
 [0.20669533 1.         0.28490442 ... 0.28896677 0.25203997 0.        ]
 [0.24387713 0.28490442 1.         ... 0.28847352 0.25455063 0.        ]
 ...
 [0.35908863 0.28896677 0.28847352 ... 1.         0.56107682 0.        ]
 [0.33308302 0.25203997 0.25455063 ... 0.56107682 1.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]]

## 8. Build a Small Recommendation Algorithm based on Similarity Score

In [48]:
# create a defined function which gives you top 10 most similar movies (based on their similarity scores) to a focal movie
# that you type in. This part has been done for you.

# Generate mapping between titles and index.
indices = pd.Series(df.index, index=df['title']).drop_duplicates()
print (indices)
print (indices.shape)

def get_recommendations(title, cosine_sim, indices):
    # Get index of movie that corresponds to a title.
    idx = indices[title]
    
    # Sort the movies based on the similarity scores
    sim_scores = list(enumerate(cosine_sim[idx]))
    
    #sort the scores from highest to lowest (descending).
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    
    # Get the scores for 10 most similar movies EXCEPT FOR the 1st highest one (itself).
    sim_scores = sim_scores[1:11]
    
    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]
    
    # Return the top 10 most similar movies
    result=df['title'].iloc[movie_indices]

    return result

title
The Godfather                0
The Shawshank Redemption     1
Schindler's List             2
Raging Bull                  3
Casablanca                   4
                            ..
Rebel Without a Cause       95
Rear Window                 96
The Third Man               97
North by Northwest          98
Yankee Doodle Dandy         99
Length: 100, dtype: int64
(100,)

## 9. What are the similar movies of a focal movie?

In [50]:
# e.g. what are the top 10 similar movies for the movie 'Star Wars'?

print(get_recommendations('Star Wars', cosine_sim, indices))

21                                2001: A Space Odyssey
38                              Raiders of the Lost Ark
33        The Lord of the Rings: The Return of the King
81                   Close Encounters of the Third Kind
98                                   North by Northwest
97                                        The Third Man
29    Dr. Strangelove or: How I Learned to Stop Worr...
34                                            Gladiator
9                                               Titanic
5                       One Flew Over the Cuckoo's Nest
Name: title, dtype: object