## Week 3 Codes for Pre-processing Raw Text

###connect Colab to your Google Drive.

In [ ]:
#connect Colab to your Google Drive.
from google.colab import drive
import os
drive.mount('/content/gdrive')

In [1]:
# (1) import pandas library
import pandas as pd

###import a csv file.

In [3]:
#import csv file and put it into a Pandas dataframe.
data=pd.read_csv('Review_NYC.csv')
data.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,3831,20509269,9/30/2014,20417598,Courtney,"lisa is a wonderful, kind and thoughtful host...."
1,3831,22232975,11/2/2014,6050386,Monica,The best thing about this place is the locatio...
2,3831,22550887,11/9/2014,15051380,Lynette,LisaRoxanne was friendly and helpful. The room...
3,3831,22984049,11/19/2014,7279245,Linnea,LisaRoxanne is very nice and communicative. Th...
4,3831,23604706,12/6/2014,16310850,Benjamin,Lisa was a very pleasant and nice host that ac...

In [8]:
# (2) 

#How many columns and rows?
print ("Shape:", data.shape)

#Column names?
print ("Column Names",data.columns.values)

#To double-check if there's any duplicated review IDs.
print ("Unique Reviews", data['reviewer_id'].unique())

Shape: (12618, 6)
Column Names ['listing_id' 'id' 'date' 'reviewer_id' 'reviewer_name' 'comments']
Unique Reviews [20417598  6050386 15051380 ...   548577  7646594 45617804]

In [9]:
# (3) sort by listing_id

data = data.sort_values(by = 'listing_id')
print (data.iloc[:10,:])

     listing_id         id       date  reviewer_id reviewer_name  \
0          3831   20509269  9/30/2014     20417598      Courtney
172        3831  244762757  3/19/2018    152473737          Paul
173        3831  245793931  3/23/2018    161128121          Luis
174        3831  246021106  3/24/2018    116448503          Yoko
175        3831  249683841   4/2/2018      1489158       Heather
176        3831  251787475   4/8/2018     46176717         Gavin
177        3831  252438239  4/10/2018    136645203   Christopher
178        3831  253179199  4/13/2018    169554468        Rachel
179        3831  260965550   5/5/2018    155981808         Megan
180        3831  262041837   5/7/2018     60903143           Ann

                                              comments
0    lisa is a wonderful, kind and thoughtful host....
172  Excellently placed for communting into Manhatt...
173  Lisa is nice and receptive, I love the place, ...
174  Thank you for your warm welcome, Lisa. \nYou w...
175  The apartment is a great location, you can get...
176  Lisa Roxanne was a great host and very accommo...
177       Great value for New York. Nice neighborhood.
178  Wonderful host , so kind and helpful with lots...
179  This place was great. Very clean and enjoyable...
180  The location is great, and this is probably th...

In [10]:
# We will focus on comments column which is a text data.
data_text=data['comments']
data_text=pd.DataFrame(data_text)

# (4)
#How many columns and rows?
print ("Shape:", data_text)
#Column names?
print ("Column Names", data_text)
#print the first 10 observations.
print (data_text)

Shape:                                                 comments
0      lisa is a wonderful, kind and thoughtful host....
172    Excellently placed for communting into Manhatt...
173    Lisa is nice and receptive, I love the place, ...
174    Thank you for your warm welcome, Lisa. \nYou w...
175    The apartment is a great location, you can get...
...                                                  ...
12479  Evelyn's place was just stunning. I was very h...
12480  I stayed here with my wife and our 15 month ol...
12481  Such a beautiful home. Evelyn and her boyfrien...
12484  My parents had a lovely time staying in Evelyn...
12617  Evelyn Is the perfect host.\r\nI felt so welco...

[12618 rows x 1 columns]
Column Names                                                 comments
0      lisa is a wonderful, kind and thoughtful host....
172    Excellently placed for communting into Manhatt...
173    Lisa is nice and receptive, I love the place, ...
174    Thank you for your warm welcome, Lisa. \nYou w...
175    The apartment is a great location, you can get...
...                                                  ...
12479  Evelyn's place was just stunning. I was very h...
12480  I stayed here with my wife and our 15 month ol...
12481  Such a beautiful home. Evelyn and her boyfrien...
12484  My parents had a lovely time staying in Evelyn...
12617  Evelyn Is the perfect host.\r\nI felt so welco...

[12618 rows x 1 columns]
                                                comments
0      lisa is a wonderful, kind and thoughtful host....
172    Excellently placed for communting into Manhatt...
173    Lisa is nice and receptive, I love the place, ...
174    Thank you for your warm welcome, Lisa. \nYou w...
175    The apartment is a great location, you can get...
...                                                  ...
12479  Evelyn's place was just stunning. I was very h...
12480  I stayed here with my wife and our 15 month ol...
12481  Such a beautiful home. Evelyn and her boyfrien...
12484  My parents had a lovely time staying in Evelyn...
12617  Evelyn Is the perfect host.\r\nI felt so welco...

[12618 rows x 1 columns]

In [ ]:
#expand column width.
#pd.set_option('display.max_colwidth', 200)
#print (data.iloc[:10,:])

### Lower-case

In [ ]:
#apply lower-case function.
data_text['comments']=data_text['comments'].str.lower()
print (data_text.iloc[:10,:])

In [ ]:
#RegexpTokenizer
#from nltk.tokenize import regexp_tokenize
#from nltk import RegexpTokenizer
#tokenizer_re=RegexpTokenizer("[\w]+")
#data_text['comments']=data_text['comments'].map(tokenizer_re.tokenize)

### Tokenization

In [ ]:
#tokenize the raw strings.
import nltk
nltk.download('punkt')
from nltk.tokenize import word_tokenize

# (5) use word_tokenize to tokenize raw strings.

### Remove Stop words & Punctuations

In [ ]:
from nltk.corpus import stopwords
nltk.download('stopwords')
nltk_stop_words=stopwords.words('english')

# (6) remove stop-words (7) punctuations (this code is given ->>) the length of a token is less than 2.
data_text['comments']=data_text['comments'].apply(lambda words: [word for word in words if  and  and len(word) > 2])
print (data_text.iloc[:10,:])

In [ ]:
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')

def lemmatize_text(text):
  text=[WordNetLemmatizer().lemmatize(w, pos='v') for w in text]    #verb
  text=[WordNetLemmatizer().lemmatize(w, pos='n') for w in text]      #noun
  text=[WordNetLemmatizer().lemmatize(w, pos='a') for w in text]      #adjective
  return text

In [ ]:
nltk.download('omw-1.4')

#apply the above lemmatization code block.
data_text['comments']=data_text['comments'].apply(lemmatize_text)
print (data_text.iloc[:10,:])